
	  <div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron"  >
            <!-- <div class="jumbotron" style="background-color: purple; color: white"> -->
                <h1 class="text-center">Tiki-Burger</h1>
                <h2 class="text-center">Name a burger and then devour it!</h2>
            </div>
           
	<div class="row">
		<div class="top-section">
			<div id="columnheadings">
			<div class="col-md-6">
				<h2>Fat, delicious burger waiting room!<hr></h2>
			</div>

			<div class="col-md-6">
				<h2>These burgers were eaten!</h2>
				<hr><br>
			</div>
			</div>
		</div>
		
	</div>
	<!-- end .row -->
	{{!-- *************************************************************************** --}}

	<div class="row">
		<div class="middle-section">
			<div class="col-md-5">

				{{!-- <h2>Burgers To DEVOUR!</h2> --}}

				<div id="devour">

					{{#each burgers}}
						{{#if devoured}}
							{{> burgers/burger-block devoured=false}} {{/if}}
					{{/each}}
				</div>
			</div>

			<div class="col-md-2"></div>

			<div class="col-md-5">

				<div id="devoured">

					{{!-- <h2>Burgers devoured</h2> --}}

					{{#each burgers}}
						{{#unless devoured}}
							<li>
								{{id}}. {{burger_name}}
							</li>
						{{/unless}}
					{{/each}}

				</div>
			</div>
		</div>
	</div>





	{{!-- end row --}}
	{{!-- ***************************************************************************** --}}


	<div class="row">
		<div class="lower-section">
			<div class="center col-sm-12">
				<h2>Add a Burger</h2>
				<form class="create-form">

					<div class="field">
						<label class="label" id="label" for="burger">Burger Name:</label>
						<input type="text" id="burger" name="name" class="input" required>
						<button class="button is-danger" type="submit ">Enter</button>
					</div>
				</form>
				<br><br>
			</div>
		</div>
	</div>
	<!-- end .row -->

</div>