*{
  box-sizing: border-box;
}
  .container {
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
  }

body {
  background-image: url('../../assets/image/tiki2.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 6px white;
}

  .jumbotron {
    background-image: url('../../assets/image/tiki7.jpg');
    background-position: left top;
    background-repeat: repeat;
    color: red;
    text-shadow: 5px 3px 5px black;
  } 

.top-section, .lower-section{
  text-align: center; 
}
#label {
  color: black;
  font-size: 26px;
}

ul {
    font-size: 26px;
  list-style-type: none;
  margin-left: 36px;
  padding: 50;
 
}